@import "tailwindcss";

/*
  I prefered to use simple variable names here but it's a good practice follow design system guidelines:
  - kebab-case
  - category-based prefixes (e.g. color-background, color-foreground, etc.)
  - semantic tokens (e.g. color-brand, color-accent, etc.)
  - numeric scale (e.g. color-primary-500, color-secondary-300, etc.)
  - modifier-based hierarchy (e.g. color-primary-light, color-secondary-dark, etc.)
  - component-specific variables (e.g. color-button-primary, color-button-secondary, etc.)
*/

:root {
  --background: hsl(0 0% 93%);
  --foreground: hsl(0 0% 8.5%);
  --border: hsl(0 0% 0% / 0.071);
  --hover: hsl(0, 0%, 91%);
}

.dark {
  --background: hsl(0 0% 8.5%);
  --foreground: hsl(0 0% 93%);
  --border: hsl(0 0% 100% / 0.077);
  --hover: hsl(0, 0%, 13.6%);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-hover: var(--hover);
}

@layer base {
  * {
    @apply border-border;
  }
}

body {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}
